.modal-background
{
      position: fixed;;
      top:0px;
      left:0px;
      z-index:9;
      height:100%;
      width:100%;
      background-color: #08152fAA;
      cursor:pointer;
      overflow-y:auto;
}
.modal-container
{
      background-color:white;
      border-radius: 5px;
      position: relative;
      width:70%;
      top:90px;
      margin:auto;
      padding:30px;
      cursor: default;
}
.modal-header-container
{
  margin-bottom:20px;
}
.modal-container-heading
{
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #0d2149;
  margin:0px;
}
.modal-container-sub-heading
{
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a4860;
  text-transform: capitalize;
}
.modal-background .fa-times
{
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #0d2149;
}
.modal-content-minor-heading
{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d2149;
}